body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#input-place {
    padding: 3px;
    width: 500px;
}

#input-place input[type="text"] {
    height: 15px;
    width: inherit;
    background: #555;
    color: #D3D3D3;
    font: 9px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 2px;
    padding: 2px 3px 2px 3px;
}

#button-place {
    width: 50px;
}

#button-place a#update-button {
    padding: 2px 4px 2px 4px;
    width: inherit;
    text-align: center;
    color: #555;
    font: 9px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#no-url-msg {
    color: white;
}

/* Responsive Youtube container. Credits going for:
   http://avexdesigns.com/responsive-youtube-embed/ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
